<button
  class="btn btn-secondary"
  type="button"
  onclick="generatePassword()"
>
  <?= trans('studiobosco.newuserpasswordreset::lang.generate_password'); ?>
</button>
<script type="text/javascript">
function generatePassword() {
  var passwordInput = document.querySelector('input[name="User[password]"]');
  var passwordConfirmationInput = document.querySelector('input[name="User[password_confirmation]"]');
  var length = 20;
  var charset = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789!@#$%^&*()_+~`|}{[]\:;?><,./-=';
  var password = '';
  for (var i = 0, n = charset.length; i < length; ++i) {
      password += charset.charAt(Math.floor(Math.random() * n));
  }
  passwordInput.value = password;
  passwordConfirmationInput.value = password;
}
</script>
